body{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(40, 121, 197);
    color: white;
    padding: 20px;
}
a{
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: rgb(61, 177, 61);
    color: white;
    border-radius: 5px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;  
}
.image-box{
    width: calc(33.333%-10px);
}
.image-box{
    width: 100%;
    height: auto;
    border-radius: 8px;
}